p{
    background-color: aquamarine;
    color: rgb(4, 75, 51);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    background-color: rgba(7, 39, 54, 0.671);
    border: 20px solid red;
    padding: 5px;
    border-style: dashed;
    max-width: 230%;
    height: 140px;
    border: 10px solid rgb(46, 21, 187);
    border-top-right-radius: 200px;
    text-align: center
    
}
#step{
    border-color: rgba(95, 92, 231, 0.692);
    background-color: rgba(7, 39, 54, 0.671);
    border: 20px solid red;
    padding: 5px;
    border-style: dashed;
    max-width: 200%;
    height: 150px;
    border: 10px solid rgb(46, 21, 187);
    border-top-right-radius: 300px;
    
}
.step3{
    border-color: rgba(183, 184, 114, 0.329);
    background-color: rgba(7, 39, 54, 0.671);
    border: 20px solid red;
    padding: 5px;
    border-style: dashed;
    max-width: 100%;
    height: 200px;
    border: 10px solid rgb(46, 21, 187);
    border-top-right-radius: 400px;
    text-align: center;
    
}
h1,h2,p{
    background-color: antiquewhite;
}
/*Universla Selector*/
*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: rgba(49, 44, 48, 0.76); 
  border: 20px solid red;
    padding: 5px;
    border-style: dashed;
    max-width: 50%;
    height: 200px;
    border: 10px solid rgb(46, 21, 187);
    border-top-right-radius: 300px;
} 